<div class="meta inner">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <h2 id="header-h2"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
  <nav id="main-nav">
    <ul>
      <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
      <% } %>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>
<div class="clearfix"></div>
